{% extends 'admin/ft_base/backend.html.twig' %}
{%block stylesheets %}
    {{ parent() }}
    <link href="{{ app.asset_path }}/css/mapa_fulltrack_fullarm/form_mapa_fulltrack_fullarm.css" rel="stylesheet" type="text/css" />
    
{% endblock %}
{% block container %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header  -->
        <section class="content-header">
            <h1>{{ app.trans('tela_form_mapa_fullarm_fulltrack_title') }}</h1>
            <ol class="breadcrumb">
                <li><a href="{{ app.url_generator.generate('home') }}"><i class="fa fa-dashboard"></i> {{ app.trans('tela_home_desc') }}</a></li>
                <li class="active">{{ app.trans('tela_backend_menu_configuracoes') }}</li>
                <li class="active">{{ app.trans('tela_form_busca_mapa_fullarm_fulltrack_title') }}</li>
            </ol>
        </section>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            {%include 'admin/ft_base/modal_sim_nao.html.twig'  with {
            'modal_id':'msg-excluir-mapa_fulltrack_fullarm-modal',
            'modal_type':'modal-sm',
            'modal_title': app.trans('tela_form_mapa_fullarm_fulltrack_msg_excluir') ,
            'modal_body':'',
            'btn_modal_sim_class':'btn btn-primary btn-flat',
            'btn_modal_nao_class':'btn btn-secundary btn-flat'}%}
            
            {%include 'mapa_fulltrack_fullarm/form_busca_mapa_fulltrack_fullarm.html.twig'%}                
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

{% endblock %}


{% block javascripts %}
    <script>
    var mapa_fulltrack_fullarmMenssage = {
        'mapa_fulltrack_fullarm_excluido' : "{{app.trans('tela_form_mapa_fullarm_fulltrack_msg_excluido')}}"
    };
    </script>
    {{ parent() }}
    <script src="{{ app.lib_path }}/admin-lte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="{{ app.lib_path }}/admin-lte/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="{{ app.lib_path }}/admin-lte/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" ></script>

    <script src="{{ app.asset_path }}/js/mapa_fulltrack_fullarm/telaMapa{{app.version}}.min.js"></script>

{% endblock %}



