<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="{{ app.url_generator.generate('home') }}" class="site_title"><i class="fa fa-motorcycle"></i> <span>{{ app.usuario.empresa.nome }}</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="{{ app.asset_path }}/images/mototax.png" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Bem-vindo,</span>
                <h2>{{ app.usuario.descricao }}</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br/>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>GERAL</h3>
                <ul class="nav side-menu">
                    <li><a href="{{ app.url_generator.generate('home_app') }}"><i class="fa fa-home"></i> Home </a></li>
                    <li><a><i class="fa fa-edit"></i> Cadastros  <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a  href="{{ app.url_generator.generate('form_veiculo_busca') }}" >Veiculo</a></li>
                            <li><a  href="{{ app.url_generator.generate('form_motoboy_busca') }}" >Motoboy</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>